.navbar{
    background-color: rgb(38, 171, 215);
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: pink;
    /* background-color: magenta; */
}

li{
    list-style-type: none;
    /* background-color: white; */
    /* display: inline; */
}

#outer{
    height: 400px;
    width: 400px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: yellow;
    
}